body { 
    margin: 0; 
    font-family: sans-serif; 
}

canvas {
     display: block; 
     background-color: black; 
    }

header {
     position: fixed; 
     top: 0; 
     left: 0; 
     right: 0; 
     text-align-last: justify; 
     background-color: black; 
     padding: 20px 25px; 
    }

header > * { 
    display: inline-block; 
}

header a { 
    color: white; 
    text-decoration: none; 
    font-size: 16pt; 
    display: inline-block; 
    margin: 0 20px; 
}

header > a {
     font-size: 22pt; 
     text-transform: uppercase; 
     transition: color 0.25s; 
    } /* logo */

header > a:hover { 
    color: #ccc; 
}

header nav { 
    text-align-last: justify; 
}

header nav a span { 
    display: inline-block; 
    margin-right: 10px; 
    color: grey; 
    transform: rotate(0); 
    transition: transform 0.25s; 
}

header nav a:hover span {
     transform: rotate(45deg); 
    }

header nav a:last-of-type { 
    color: black; 
    background-color: seagreen; 
    padding: 10px 40px; 
    text-transform: uppercase; 
} /* button */

main > div:first-of-type {
     background-color: white; 
     width: 30%; 
     height: 150px; 
     position: absolute; 
     bottom: 75px; 
     left: 75px; 
    }
    
main > div:last-of-type { 
    background-color: seagreen; 
    width: 50%; 
    height: 250px; 
    position: absolute; 
    bottom: 75px; 
    right: 75px;
 }

 .text-primary {
    color: #93cb52;
  }