body { 
    margin: 0; 
    font-family: sans-serif; 
}

canvas {
     display: block; 
     background-color: black; 
    }

header {
     position: fixed; 
     top: 0; 
     left: 0; 
     right: 0; 
     text-align-last: justify; 
     background-color: black; 
     padding: 20px 25px; 
    }

header > * { 
    display: inline-block; 
}

header a { 
    color: white; 
    text-decoration: none; 
    font-size: 16pt; 
    display: inline-block; 
    margin: 0 20px; 
}

header > a {
     font-size: 22pt; 
     text-transform: uppercase; 
     transition: color 0.25s; 
    } /* logo */

header > a:hover { 
    color: #ccc; 
}

header nav { 
    text-align-last: justify; 
}

header nav a span { 
    display: inline-block; 
    margin-right: 10px; 
    color: grey; 
    transform: rotate(0); 
    transition: transform 0.25s; 
}

header nav a:hover span {
     transform: rotate(45deg); 
    }

header nav a:last-of-type { 
    color: black; 
    background-color: seagreen; 
    padding: 10px 40px; 
    text-transform: uppercase; 
} /* button */

 .text-primary {
    color: #93cb52;
  }

  h1, h2, h3, h4, h5, h6 {
      line-height: 1.2em;
      margin-bottom: 1em;
      font-weight: 400;
  }

  li, p {
    font-size: 16px;
  }

  p {
    line-height: 1.35em;
  }

  main > p:first-of-type {
      color: white;
      font-size: 18px;
      line-height: 29px;
      margin: 0px 0px 30px;
      width: 50%;
      height: 550px;
      position: absolute;
      bottom: 75px; 
      right: 75px;
  }

  main > h1:first-of-type {
    color: seagreen; 
    width: 50%; 
    height: 700px; 
    font-size: 56px;
    position: absolute; 
    bottom: 75px; 
    right: 75px;
    margin: 0.67em 0px;
   }

   img {
    width: 630px; 
    height: 483px;  
    position: absolute; 
    bottom: 500px; 
    left: 208px; 
    z-index: 1;
    filter: grayscale(100%);
   }
 

   .btn-products {
    border: 1px outset black;
    background-color: seagreen; 
    width: 0px; 
    height: 0px; 
    font-size: 56px;
    position: absolute; 
    bottom: 75px; 
    right: 75px;
    margin: 0.67em 0px;
    background-color: seagreen; 
    padding: 10px 40px; 
    text-transform: uppercase;
   }
       
    